.button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .primaryButton {
    background-color: var(--primary-color);
  }
  
  .dangerButton {
    background-color: var(--danger-color);
  }
  
  .successButton {
    background-color: var(--success-color);
  }